

app/app/js/bin/template/templates.js
app/app/css/

/node_modules/
/npm-debug.log


/appDetail/css
/.idea/

.idea/*
analytics/.idea/
target/*
TravelyftDMP.iml
Backend/Backend.iml
dcs/Dcs.iml


.DS_Store
cross-chennel/CrossChennel.iml
fraud-detection/
data-platform/target/
web-api/.idea/
analytics/target/

dcs/.idea/
